# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# venv
.venv/
venv/
ProgettoGruppoX/venv/

# C/ASM artifacts
*.o
*.a
main

# OS/IDE
.DS_Store
.vscode/

# dataset / output
*.ds2
id*.ds2
dist*.ds2

# logs
*.log
